.listTitle {
  text-decoration: underline wavy coral;
}


.smallBtn {
  width: 3ch;
  height: 3ch;
  float: right;
}


.flex {
  display: flex;
  flex-flow: column wrap;
  gap: var(--gap, 1rem);
}

ul {
  --gap: .5rem;
}

.main {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;

  margin: auto;
}

.main>* {
  flex: 1;
  min-width: 30ch;
}

/* .tarea-name+.tarea-desc {
    margin-left: .5rem;
  } */

.container {
  border-radius: .5rem;
  padding: 2rem;
  outline: 1px solid gray;

}

.btn {
  padding: .5rem;
  background-color: coral;
}


input[placeholder],
textarea {
  display: block;
  padding: 1rem;
}